
@import "../../scss/base/variables";

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}


.map-container {
  margin-top: 0;
  position: relative;
}

$map_height: 100vh;
//$margin: 20px;
#map {
  background: #000;
  width: 100%;
  height: $map_height;
}

.map-title {

  position: absolute;
  left: 150px;
  top: 50px;

  font-size: 22px;
  z-index: 999;

}


.map-popup-container {
  font-family: 'Open Sans', Arial, sans-serif;

  font-size: 12px;

  p {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p.ul-caption {
    margin-top: 10px;
  }

  position: absolute;

  width: 230px;
  //height: $map_height - $margin * 2;
  background: rgba(1,1,1,0.4);

  z-index: 999;

  right: 20px;
  top: 12px;
  border-radius: 5px;

  padding: 10px;

  color: white;

  .cell-data {
    margin-top: 5px;
  }

  #ul-container {
    position: relative;
    overflow: hidden;
    max-height: 40vh;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table;
    width: 100%
  }

  li {
    list-style-type: none;
    display: table-row;
  }

  li span.date {
    font-style: italic;
    color: #999;
    //padding-left: 40px;
    display: table-cell;
  }

  li a {
    color: #EF5223;
    display: table-cell;
  }

  li a:hover,
  li a.hover {
    color: #1E90FF;
    text-decoration: underline;
  }

  .p-table {display: table}
  .p-row {display: table-row}
  .p-cell {display: table-cell}

  /* to make scrollbars always visible */
  .always-visible.ps > .ps__scrollbar-y-rail {
    opacity: 0.6;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 1em;
    font-weight: bold;
    line-height: 1.7em;


    @media #{$brk-spnarrow} {
      display: none;
    }
  }
}
